.inputbar{
    width: 100%;
}
.Banner {
    display: flex;
    flex-grow: 1;
    min-height: 45vh;
}
.Banner {
    background: url(./Image/Banner1.jpg);
    background-position: center;
    height: 321px; 
    width: 100%;
    background-size: cover;
    display: grid;
    align-content: center;
    color: white;
}
.Banner2 {
    background: url(./Image/Banner2.jpg);
    background-position: center;
    top: 227px;
    left: 267px;
    width: 50%;
    height: 108px;;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 2px;
    background-size: cover;
    border-radius: 10px;
    margin-top: 1%;
}
.Bannerform {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
