.Icons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
img {
    height: 50px;
    width: 50px;
}
.background {
    background:rgba(0, 0, 0, 0.9) url(./Image/Healthres.jpeg);
    background-blend-mode: darken;
    height: 40vh;
    display: grid;
    align-items: center;
    background-position: center;
    background-size: cover;
    color: white;
}
.divimg {
    display: grid;
    justify-items: center;
}

@media (max-width: 767.98px) {
    
 }