@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600");

body {
	background: #f4f6fc;
	color: #2e384d;
	/* font-family: "Open Sans", Arial, sans-serif; */
}

main {
	background: #fff;
	margin: 0 auto;
	max-width: 680px;
	padding: 50px 30px;
}

code {
	background: #f4f6fc;
	border-radius: 5px;
	color: #2d4284;
	font-family: monospace;
	padding: 4px 8px;
}

.placeholder {
	background: #f4f6fc;
	border-radius: 5px;
	height: 15vh;
	min-height: 100px;
	margin-bottom: 30px;
}
	
.medium {
		height: 30vh;
	}
	
.large {
		height: 45vh;
	}


.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modal__container {
	background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 130vh;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

/* button {
	background: #8c54ff;  
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;
	transition: transform 100ms ease-out;
} */
	
button:hover {
		/* background: #682ede; */
		transform: scale(1.1);
	}


a {
	border-radius: 5px;
	color: #682ede;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	

}
a:hover {
	/* background: #8c54ff; */
	color: #fff;
	text-decoration: none;
}
.signindiv {
    padding: 18%;
    height: 80vh;
    display: grid;
    align-content: space-around;
	line-height: 40px;
}
.emailsignin {
  border: 1px solid; 
  border-color: black; 
  border-radius: 20px;
  padding-left: 2vh;
  width: 100%;
  display: grid;

}
.loginemail {
	text-align: left;
}
h1 {
	display: flex;
}
.googlesignup {
  border: 1px solid; 
  border-color: #5940D1; 
  border-radius: 20px;
  padding: 0vh;
  cursor: pointer;
  width: 100%;
}    
.googlesignup:hover {
	transform: scale(1.1);
}
/* .googlesignupimage {
    height: 20px;
    width: 20px;
} */
/* .applesignupimage {
    height: 20px;
    width: 20px;
}
.orline {
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 20px 0 20px; 
} */
/* .orline span {
    background:#fff; 
    padding:0 10px; 
} */
.emailsignup {
    border: 2px solid; 
	border-color: #5940D1;
    background: #5940D1; 
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
	width: 100%;
	margin-top: 20px;
}
.emailsignup:hover {
transform: scale(1.1);
}
.services {
    color: #000000;
	line-height: 20px;
	padding-top: 20px;
}
.policyspan {
    color: #03A9F4;
}
/* .already {
	color: #000000;
	display: grid;
	justify-content: center;
	padding-top: 15px;
} */
.xuremedcommunity {
	display: grid;
}